//imports
@import "utilities/header";
@import "utilities/mainIndex";
@import "utilities/footer";
@import "utilities/mediaQ";
@import "utilities/cursos";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
